{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
	<div class='container-fluid bg-team-qsn'></div>
<div class='container'>
	<h1 class='text-center my-5 py-5'>{{ title }}</h1>
	<section class="container mb-5 py-lg-3 py-xl-4 py-xxl-5 font_main">
		<div class='row row-cols-3 row-cols-md-4 g-0 justify-content-center'>
			<!-- Team classique --->
			{% for team in teams %}
			<div class="col pb-3 mx-1" style='width: 18rem'>
				<div class="card border-0 bg-transparent">
					<img src="{{ asset('uploads/images/'~ team.image) }}" class="card-img-top rounded-top-0" alt="..." />
					<div class="card-body text-center">
						<h6 class="card-title">{{ team.fullname }}</h6>
						<p class="card-text fw-bold">{{ team.job }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</section>
</div>
{% endblock %}


