{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
	<div class='container-fluid bg-team-qsn'></div>
<div class='container'>
	<h1 class='text-center my-5 py-5'>{{ title }}</h1>
	<section class="container mb-5 py-lg-3 py-xl-4 py-xxl-5 font_main">
		<div class='row row-cols-2 row-cols-md-3 g-0 justify-content-center'>
			<!-- Team classique --->
			{% for team in teams %}
			<div class="col pb-3 mx-1" style='width: 19rem'>
				<div class='row row-col-2'>
					<div class='col'>

						<div class="card border-0 bg-transparent">
							<img src="{{ vich_uploader_asset(team, 'imageFile') }}" class="card-img-top rounded-top-0" alt="portrait de {{ team.fullname }}" />
							<div class="card-img-overlay">
						    <button
								    class='bg-twitter_bg p-2 rounded-1 border-0 text-white mx-auto'
								    type="button"
								    data-bs-toggle="collapse"
								    data-bs-target="#multiCollapse_{{ team.id }}"
								    aria-expanded="false"
								    aria-controls="multiCollapse_{{ team.id }}">En Savoir +</button>
						  </div>
							<div class="card-footer text-center bg-transparent border-0">
								<div class="collapse multi-collapse py-2 bg-secondary_light" id="multiCollapse_{{ team.id }}">
									{% if team.content is empty or team.content is null %}
										<p>Une peu de patience je vous dirais tout, enfin une petite partis</p>
									{% else %}
										{{ team.content }}
									{% endif %}
								</div>
								<h6 class="card-title">{{ team.fullname }}</h6>
								<p class="card-text fw-bold">{{ team.jobs }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</section>
</div>
{% endblock %}


