<footer>
    <div id="contact" class="container-fluid bg-black text-white p-5 f_serif">
        <div class="row">
            <div class="col-md-12 pt-5 pb-5 text_footer_punshline">
                <p>Prêt pour le grand plongeon ? <a href="mailto:alain.germain@dsides.net" class="text-white no_style fw_700">Contactez nous !</a></p>
            </div>
            <div class="col-md-12 pt-4">
                <div class="row">
                    <div class="col-md-4 text-start p-3">
                        <div class="mb-3">
                            <img src="{{ asset('img/logo_dsides_blanc.png') }}" class="w-50" alt="dsides_logo">
                        </div>
                        <address class="text_footer_address">
                            <p>7 rue René Boulanger<br>
                                Métro République<br>
                                75010 Paris - France</p>
                            <p>contact[at]dsides.net</p>
                        </address>
                    </div>
                    <div class="col-md-4 p-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="list-filter" class="list-group text-start text_footer_list bg-black">
                                    <a class="list-group-item bg-black" data-filter="*">Tout</a>
                                    {% for categorie in categories|slice(0,3) %}
                                        <a class="list-group-item bg-black" data-filter="{{ '.' ~ categorie.name|slug('_') }}">{{ categorie.name|capitalize }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="list-filter" class="list-group text-start text_footer_list bg-black">
                                    {% for categorie in categories|slice( categories|length / 2 ) %}
                                        <a class="list-group-item bg-black" data-filter="{{ '.' ~ categorie.name|slug('_') }}">{{ categorie.name|capitalize }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 p-3 text-center">
                        <p class="fw_700 fst-italic text_footer_follow">Follow @dsides</p>
                        <i class="fab fa-instagram fa-3x p-2"></i>
                        <i class="fab fa-linkedin fa-3x p-2"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>