{% extends 'base.html.twig' %}
{% block title %}dsides - erreur {{ status_code }}{% endblock %}


{% block body %}
{% block navbar %}{% endblock %}

<div id="landing_page" class="container-fluid m-0 p-0">

    <div class="row no-gutters">
        <div class="col-md-4 p-md-5 p-3 text-center m-auto">
            <h1 class="text_bigger_responsive font-weight-bold mb-3">Oups !</h1>
            <h2 class="text_big_responsive mb-3 mb-md-5">Un problème est survenu</h2>
            <p>Le serveur a renvoyé les informations suivantes : "{{ status_code }} : {{ status_text }}". N'hésitez pas
                à nous informer du problème.</p>
            <a class="btn btn-twitter_bg my-4" href="{{ path('home') }}">Retour à l'accueil</a><br>
        </div>
        <div class="col-md-8 d-md-block">
            <img src="{{ asset('/img/observation_inutile.jpg') }}" alt="Ampli off" class="vh-100 w-100"
                style="object-fit: cover; object-position: center center;">
        </div>
    </div>

</div>

{% block footer %}{% endblock %}
{% endblock %}