
    <div class="position-relative">
        {% if project.gridImage %}
        <img src="{{ vich_uploader_asset(project, 'gridImageFile') | imagine_filter(filter) }}" class="{{ cover }}"
            alt="{{ project.name }}">
        {% else %}
        <img src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter(filter) }}" class="{{ cover }}"
            alt="{{ project.name }}">
        {% endif %}
        <a data-bs-toggle="modal" data-bs-target="#modal_{{ project.id }}">
            <div class="{{ cover }} position-absolute bottom-0 start-50 translate-middle-x"></div>
        </a>
    </div>
    <div class="card-body d-flex flex-column pb-4 text-white">
        <div class="mb-2 lh_12 text-black">
            <span class="fw_700 f_serif">{{ project.client.name }}</span> {{ project.name }}
        </div>
        <div class="mt-auto">
            {% for category in project.category %}
            <div class="badge bg-black text-white me-1">{{ category.name }}</div>
            {% endfor %}
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="modal_{{ project.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">

            <img src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('w1600') }}" class="cover_380"
                alt="{{ project.name }}">

            <div class="modal-body">
                <div class="mx-auto my-5" style="max-width: 800px;">
                    <h1>{{ project.name }}</h1>
                    <h3> {{ project.client.name }}</h3>

                    {{ project.content|raw }}

                    <div class="mt-4">
                        {% for category in project.category %}
                        <span class="badge bg-secondary rounded">{{ category.name }}</span>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn_material hidden_link px-0" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fas fa-chevron-left me-2"></i>
                    <span>Retour</span>
                </button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

        </div>
    </div>
</div>