{%  if field.value %}
<a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#ea-lightbox-{{ field.uniqueId }}">
    <img src="/uploads/images/projects/{{ field.value }}" class="img-fluid" style="width: 8%;" alt="images-{{ field.uniqueId }}"/>
</a>

<div id="ea-lightbox-{{ field.uniqueId }}" class="ea-lightbox">
    <img src="/uploads/images/projects/{{ field.value }}" alt="images-{{ field.uniqueId }}"/>
</div>
{% else %}
<div>
    -
</div>
{% endif %}
