{% extends 'base.html.twig' %}
{% block title %}dsides{% endblock %}

{% block body %}

<main>

    <div class="container-fluid p-0">

        {% if topic.name is defined %}
            <div class="m-5">
                <h1>{{ topic.name }}</h1>
            </div>
        {% endif %}

        {% if topic.firstName is defined and topic.lastName is defined %}
        <div class="m-5">
            <h1>{{ topic.firstName }} {{ topic.lastName }}</h1>
        </div>
        {% endif %}
        
        {# TODO: displayName #}

        <div class="row g-0">

            {% for project in projects|filter(project => project.isDisplayed) %}
                <div class="col-md-4">
                    {{ include('project/_card.html.twig', {cover: 'cover_300', filter: 'w800'}) }}
                </div>
            {% endfor %}

        </div>
    </div>

</main>

{#
TODO: typo
TODO: ordre des projets & nb de projets à la une
TODO: protéger admin
TODO: édition directe depuis la page si admin
TODO: liens pages projets slug
TODO: affichage par catégories (& par consultant ?)
#}

{#
<main>

    <div class="container-fluid">
        <div class="row g-3">

            {% for project in projects|filter(project => project.isDisplayed) %}

            {% if (project.displayOrder < 3) %} <div class="col-md-12">
                <div class="position-relative">

                    <div class="scrim cover_200 position-absolute bottom-0 start-50 translate-middle-x"></div>

                    <img src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('w1600') }}"
                        class="cover_300" alt="{{ project.name }}">

                    <div
                        class="position-absolute bottom-0 start-0 p-4 w-100 d-flex justify-content-between align-items-end">
                        <div class="text-white text_shadow">
                            <h2>{{ project.name }}</h2>
                            <h3>{{ project.client.name }}</h3>
                        </div>
                        <div>
                            {% for category in project.category %}
                            <span class="badge bg-white text_color_87 rounded-pill">{{ category.name }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <a href="{{ path('project_show', {'id': project.id }) }}">
                        <div class="cover_300 position-absolute bottom-0 start-50 translate-middle-x"></div>
                    </a>

                </div>
        </div>

        {% endif %}




        {% endfor %}

    </div>
    </div>

    <div class="container pt-5 pb-5">
        <div class="m-5 pt-5 pb-5">
            <h1 class="text-center">dsides accompagne les projets de transformation et de design du travail</h1>

        </div>

    </div>

    <div class="container-fluid">
        <div class="row g-3">

            {% for project in projects|filter(project => project.isDisplayed) %}

            {% if (project.displayOrder >= 3) %}

            <div class="col-md-6">
                <div class="position-relative">

                    <div class="scrim cover_200 position-absolute bottom-0 start-50 translate-middle-x"></div>

                    <img src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('w800') }}"
                        class="cover_300" alt="{{ project.name }}">

                    <div
                        class="position-absolute bottom-0 start-0 p-4 w-100 d-flex justify-content-between align-items-end">
                        <div class="text-white text_shadow">
                            <h2>{{ project.name }}</h2>
                            <h3>{{ project.client.name }}</h3>
                        </div>
                        <div>
                            {% for category in project.category %}
                            <span class="badge bg-white text_color_87 rounded-pill">{{ category.name }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <a href="{{ path('project_show', {'id': project.id }) }}">
                        <div class="cover_300 position-absolute bottom-0 start-50 translate-middle-x"></div>
                    </a>

                </div>
            </div>

            {% endif %}

            {% endfor %}

        </div>
    </div>



</main>

#}

{% endblock %}