{% extends 'base.html.twig' %}
{% block title %}Projet{% endblock %}

{% block body %}

    <img src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('w1600') }}" class="cover_300"
    alt="{{ project.name }}">


    <div class="container mt-5 mx-auto" style="width: 800px;">
        <h1>{{ project.name }}</h1>
        <h3> {{ project.client.name }}</h3>

        {{ project.content|raw }}

        <div class="mt-3">
            {% for category in project.category %}
            <span class="badge bg-secondary rounded-pill">{{ category.name }}</span>
            {% endfor %}
        </div>

        <div class="mt-4">
            <a href="{{ path('home') }}" class="btn btn_material px-0 hidden_link">
                <i class="fas fa-chevron-left me-2"></i>
                <span>Retour</span>
            </a>
        </div>
        

    </div>



{% endblock %}
